*.sql
dist
prodh2*
gjson/
hs_err_pid*
target/
logs/*
deploy
.DS_Store
.idea/
*.iws
*.ipr
*.iml
atlassian-ide-plugin.xml
nbactions.xml
nb-configuration.xml
.settings
.settings/
.project
.classpath
*.swp
*~
build/
gradle/
.gradle/
node_modules
testh2*
